/* Start Global Rules */
:root {
    --main-color: rgba(113, 99, 186, 255);
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
}
a {
    text-decoration: none;
}
/* End Global Rules */

/* Start Sidebar */
.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 115px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: var(--main-color);
}
.sidebar:hover {
    width: 250px;
}
.sidebar .logo {
    height: 80px;
    padding: 16px;
}
.sidebar .menu {
    height: 88%;
    position: relative;
    list-style: none;
}
.sidebar .menu li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}
.sidebar .menu li:hover, .active {
    background-color: #e0e0e058;
}
.sidebar .menu li a {
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.sidebar .menu li a span {
    overflow: hidden;
}
.sidebar .menu li a i {
    font-size: 1.2rem;
}
.sidebar .logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* End Sidebar */

/* Start Header  */
.main-content {
    position: relative;
    background-color: #ebe9e9;
    width: 100%;
    padding: 1rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header .header-title {
    color: var(--main-color);
}
.header .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header .user-info img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header .search-box {
    background-color: rgb(237, 237, 237);
    border-radius: 15px;
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 4px 12px;
}
.header .search-box input {
    caret-color: var(--main-color);
    background-color: transparent;
    padding: 10px;
}
.header .search-box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}
.header .search-box i:hover {
    transform: scale(1.2);
}
/* End Header  */